<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Online Preparation for UPSC Civil Service, MPSC, UPPSC, TNPSC Exams | Skholar</title>
        <meta name="description" content="Online Preparation Portal for UPSC Civil Services Exam (CSE) - Skholar">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="Yt_st1_GREAkvFr7AIbHVlgKyJweQi3dAIQP3XbzRQE"/>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <link href="../assets/common/css/bulma.min.css" rel="stylesheet">
        <link href="../assets/landpage/css/substyle.css" rel="stylesheet">
        <link href="../assets/common/css/style.css" rel="stylesheet">
<!--
        <link rel="shortcut icon" href="img/logo/ICO/favicon.ico">
         Global site tag (gtag.js) - Google Analytics 
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128967115-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-128967115-1');
        </script>
        <script>
            function goto(url) {
                window.stop();
                window.location = url;
            }
        </script>
-->
        
    </head>
    <body class="has-navbar-fixed-top">
        <div class="sidebar-open-bg"></div>
        <section id="topheader">
            <div class="topheader">
                <img class="mobilemenu-icon is-flex-mobile" src="../assets/common/img/menu-icon.svg">
                <a class="logo is-hidden-mobile">
                    <img src="../assets/common/img/logo1.png" width="136px" height="34px" alt="Skholar">
                </a>
                <a class="moblogo is-flex-mobile">
                    <img src="../assets/common/img/logo1.png" width="28px" height="28px" alt="Skholar">
                </a>
                <div class="header-buttongroup">
                    <button style="display:none" type="button" class="button btn-buy btn-buy-ab1" onclick="window.location='/pricing/upsc.php'">Buy</button>
                </div>
            </div>
        </section>
        <section id="content-area">
            <div class="content-container">
                <div class="columns">
                    <div class="column is-narrow pad0 mainmenu-col">
                        <div id="mainmenu-box">
                            <div class="mainmenu-box">
                                <aside class="menu">
                                    <ul class="menu-list">
                                        <li>
                                            <a href="/" class="mainmenu-active">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-home"></span>
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/live/course.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-liveclass"></span>
                                                Courses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/mindmaps.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-nt"></span>
                                                Mindmaps<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/mindmaps.php?pre=p">Indian Polity</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=a">Ancient History</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=h">Medieval History</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=m">Modern History</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=c">Art &Culture</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=g">Geography</a>
                                                </li>
                                                <li>
                                                    <a href="/mindmaps.php?pre=e">Economy</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/prelimsgs2021.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-ts"></span>
                                                Test Series
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/revisionnotes.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-nt"></span>
                                                Revision Notes<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=e">Environment</a>
                                                </li>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=p">Polity</a>
                                                </li>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=y">Economy</a>
                                                </li>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=g">Geography</a>
                                                </li>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=h">History- Modern India</a>
                                                </li>
                                                <li>
                                                    <a href="/revisionnotes.php?pre=s">Science &amp;Technology</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/detailednotes.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-nt"></span>
                                                Detailed Notes<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/detailednotes.php?pre=e">Environment</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=p">Polity</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=y">Economy</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=g">Geography</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=m">Modern India</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=a">Ancient India</a>
                                                </li>
                                                <li>
                                                    <a href="/detailednotes.php?pre=i">Medieval India</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/forum/">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-discuss"></span>
                                                Discuss
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/daily-news-current-affairs-dn">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-ca"></span>
                                                Current Affairs<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/daily-news-current-affairs-dn">Daily News</a>
                                                </li>
                                                <li>
                                                    <a href="/explore.php">Explore</a>
                                                </li>
                                                <li>
                                                    <a href="/dailyquiz.php">Daily Quiz</a>
                                                </li>
                                                <li>
                                                    <a href="/all-india-radio-current-affairs-ai">AIR</a>
                                                </li>
                                                <li>
                                                    <a href="/all-india-radio-current-affairs-rs">RSTV</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/yojana-magazine-yo">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-mz"></span>
                                                Magazine<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/yojana-magazine-yo">Yojana</a>
                                                </li>
                                                <li>
                                                    <a href="/kurukshetra-magazine-ku">Kurukshetra</a>
                                                </li>
                                                <li>
                                                    <a href="/economic-political-weekly-magazine-ep">EPW</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/carevision.php">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-dl"></span>
                                                Downloads<span class="downarrow"></span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="/carevision.php">CA Revision</a>
                                                </li>
                                                <li>
                                                    <a href="/monthlycapsule.php">Monthly Capsule</a>
                                                </li>
                                                <li>
                                                    <a href="/oldpapers.php">Old Question Papers</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://www.skholar.com/blog/">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-ca"></span>
                                                Blog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.skholar.com/count.php" target="_blank">
                                                <span class="ma-bor"></span>
                                                <span class="mmicons mmicon-dl"></span>
                                                Get App
                                            </a>
                                        </li>
                                        <li>
                                            <a href="logmeout.php?url=login.php" class="">
                                                <span class="mmicons mmicon-lo"></span>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                        </div>
                    </div>
                    <div class="column content-col">
                        <div class="maincont-box">
                            <div id="maincont-box">
                                <section id="home">
                                    <div class="home-container">
                                        <div class="columns">
                                            <div class="column is-two-thirds banner-cont">
                                                <h1 class="title">Quick Revision Guide for UPSC &amp;PSC Exams</h1>
                                                <p>With concise Videos by India's Top Faculty, curated Topper Notes, compact Mind-Maps &amp;a full Test Series, race through your preparation 4X faster. Skholar is the only revision guide you need in the lead-up to your exam</p>
                                                <div class="banner-btn-group">
                                                    <a href="register.php?ref=None" class="button btn-lr btn-bg-white marr10">Get Started</a>
                                                    <a href="https://www.skholar.com/count.php" class="button btn-lr" style="color:#FFF;background-color:#02258B;">Download App</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-secondary is-hidden-mobile">
                                        <img src="../assets/landpage/img/banner.svg"/>
                                    </div>
                                </section>
                                <section id="about" class="banner">
                                    <div class="home-container">
                                        <div class="column-full-group">
                                            <div class="column-full has-text-centered">
                                                <span class="sec-about-header">Exams</span>
                                            </div>
                                            <div class="column-full padb50">
                                                <div class="columns">
                                                    <div class="column ob-features" onclick="goto('/upsc-civil-services/');return false;">
                                                        <figure class="image is-128x128">
                                                            <img src="../assets/landpage/img/au_2.svg"/>
                                                        </figure>
                                                        <p>UPSC CSE</p>
                                                    </div>
                                                    <div class="column ob-features" onclick="goto('/mpsc/');return false;">
                                                        <figure class="image is-128x128">
                                                            <img src="../assets/landpage/img/au_2.svg"/>
                                                        </figure>
                                                        <p>MPSC</p>
                                                    </div>
                                                    <div class="column ob-features" onclick="goto('/uppsc/');return false;">
                                                        <figure class="image is-128x128">
                                                            <img src="../assets/landpage/img/au_2.svg"/>
                                                        </figure>
                                                        <p>UPPSC</p>
                                                    </div>
                                                    <div class="column ob-features" onclick="goto('/tnpsc/');return false;">
                                                        <figure class="image is-128x128">
                                                            <img src="../assets/landpage/img/au_2.svg"/>
                                                        </figure>
                                                        <p>TNPSC</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="currentaffairs" class="banner">
                                    <div class="home-container">
                                        <img class="ca-left-bg image is-128x128" src="../assets/landpage/img/current-affairs-left-bg.png">
                                        <img class="ca-right-bg image is-256x256" src="../assets/landpage/img/current-affair-right-bg.png">
                                        <div class="columns">
                                            <div class="column is-one-third">
                                                <h2>Current Affairs</h2>
                                                <p>Current Affairs plays a major role in all stages of Civil Service Examination. Stay updated with all exam relevant current affairs information presented in a comprehensive way using Kipling’s method.</p>
                                            </div>
                                            <div class="column ca-card-outer">
                                                <a href="daily-news-current-affairs-dn" class="ca-card">
                                                    <div class="top">
                                                        <span class="icon is-medium">
                                                            <img src="../assets/landpage/img/ca_1.svg">
                                                        </span>
                                                    </div>
                                                    <div class="bottom">
                                                        <p>
                                                            Daily News<img src="../assets/landpage/img/ar_black.svg">
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="dailyquiz.php" class="ca-card">
                                                    <div class="top">
                                                        <span class="icon is-medium">
                                                            <img src="../assets/landpage/img/ca_2.svg">
                                                        </span>
                                                    </div>
                                                    <div class="bottom">
                                                        <p>
                                                            Daily Quiz<img src="../assets/landpage/img/ar_black.svg">
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="all-india-radio-current-affairs-ai" class="ca-card">
                                                    <div class="top">
                                                        <span class="icon is-medium">
                                                            <img src="../assets/landpage/img/ca_3.svg">
                                                        </span>
                                                    </div>
                                                    <div class="bottom">
                                                        <p>
                                                            AIR<img src="../assets/landpage/img/ar_black.svg">
                                                        </p>
                                                    </div>
                                                </a>
                                                <a href="rajya-sabha-tv-current-affairs-rs" class="ca-card">
                                                    <div class="top">
                                                        <span class="icon is-medium">
                                                            <img src="../assets/landpage/img/ca_4.svg">
                                                        </span>
                                                    </div>
                                                    <div class="bottom">
                                                        <p>
                                                            RSTV<img src="../assets/landpage/img/ar_black.svg">
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="extradose" class="banner">
                                    <div class="home-container">
                                        <div class="columns">
                                            <div class="column is-half">
                                                <h2>NCERT</h2>
                                                <p>Foundation for your preparation starts here. Explore quality NCERT content in the form of Videos, Notes, and Tests.</p>
                                            </div>
                                            <div class="column is-half has-text-centered">
                                                <!--<a href="extra-dose-infographics-ig" class="ed-card edblue">
                            <span class="icon is-large"><img src="img/home/ed_5.svg"></span>
                            <span class="text">Infographics</span><img class="ra" src="img/home/ar_white.svg">
                        </a>
                        <a href="csat.php" class="ed-card edpink">
                            <span class="icon is-large"><img src="img/home/ed_4.svg"></span>
                            <span class="text">CSAT</span><img class="ra" src="img/home/ar_white.svg">
                        </a>-->
                                                <a href="https://www.skholar.com/live/course.php?s=1&c=4" class="ed-card edlblue">
                                                    <span class="icon is-large">
                                                        <img src="../assets/landpage/img/ed_5.svg">
                                                    </span>
                                                    <span class="text">NCERT Course</span>
                                                    <img class="ra" src="../assets/landpage/img/ar_white.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="magazine" class="banner">
                                    <div class="home-container">
                                        <img class="mag-right-bg image is-128x128" src="../assets/landpage/img/current-affairs-left-bg.png">
                                        <img class="mag-left-bg image is-256x256" src="../assets/landpage/img/current-affair-right-bg.png">
                                        <div class="columns is-reverse-mobile">
                                            <div class="column">
                                                <div class="columns mag-align">
                                                    <div class="column is-one-quarter">
                                                        <a class="mag-card" href="yojana-magazine-yo">
                                                            <img src="../assets/landpage/img/yo.png" width="280px" alt="Yojana">
                                                        </a>
                                                    </div>
                                                    <div class="column is-one-quarter">
                                                        <a class="mag-card mag-ku" href="kurukshetra-magazine-ku">
                                                            <img src="../assets/landpage/img/ku.png" width="280px" alt="Kurukshetra">
                                                        </a>
                                                    </div>
                                                    <div class="column is-one-quarter">
                                                        <a class="mag-card mag-epw" href="economic-political-weekly-magazine-ep">
                                                            <img src="../assets/landpage/img/epw.png" width="280px" alt="EPW">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-one-third">
                                                <h2>Magazine</h2>
                                                <p>Widen your horizon of knowledge on variety of topics and enhance your answer writing skills using the gist of important periodicals.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="testseries" class="banner">
                                    <div class="home-container">
                                        <div class="columns">
                                            <div class="column is-half">
                                                <h2>Test Series</h2>
                                                <p>Test your preparation level. Know your strengths and work on deficiencies to perfect your prelims score by joining us.</p>
                                            </div>
                                            <div class="column is-half has-text-centered">
                                                <a href="prelimsgs2021.php" class="ed-card ts-card">
                                                    <span class="icon is-large ts-orange">
                                                        <img src="../assets/landpage/img/test_series.svg">
                                                    </span>
                                                    <span class="text">Prelims 2021</span>
                                                    <img class="ra" src="../assets/landpage/img/ar_black.svg">
                                                </a>
                                                <!--<a href="prelims2019.php" class="ed-card ts-card">
                            <span class="icon is-large ts-blue"><img src="img/home/test_series.svg"></span>
                            <span class="text">2019 Prelims Solved Paper</span><img class="ra" src="img/home/ar_black.svg">
                        </a>-->
                                                <a href="monthlytests.php" class="ed-card ts-card">
                                                    <span class="icon is-large ts-lgreen">
                                                        <img src="../assets/landpage/img/test_series.svg">
                                                    </span>
                                                    <span class="text">Monthly Tests </span>
                                                    <img class="ra" src="../assets/landpage/img/ar_black.svg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                  <section id="footer" class="banner">
            <div class="container home-container">
		        <div class="columns">
                    <div class="column left-info">
                        <div class="company_address">
                            <p class="logo">
                                <img src="../assets/common/img/logo1.png" alt="Skholar" width="122px" height="28px">
                            </p>
                            <p>2nd &amp; 3rd Floor, L-147, 5th Main, 6th Sector, HSR Layout, Bangalore 560102</p>
                        </div>
                        <div class="social_btn">
                            <a href="https://www.facebook.com/Skholar-2126365600749482/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
			                <a href="https://t.me/Skholar_UPSC" target="_blank">
                                <i class="fa fa-telegram"></i>
                            </a>
			                <a href="https://www.youtube.com/channel/UCpWFO0QcJg6XB3GssDwOcow" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column center-links">
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="https://www.skholar.com/daily-news-current-affairs-dn">Daily News</a></li>
                            <li><a href="https://www.skholar.com/polityvideo.php">Videos</a></li>
                            <li><a href="https://www.skholar.com/extra-dose-infographics-ig">Extra Dose</a></li>
                            <li><a href="https://www.skholar.com/register.php?ref=None&amp;url=%2Fprelimsgs2021.php">Mock Tests</a></li>
                        </ul>
                    </div>
                    <div class="column center-links">
                        <h3>Popular Exams</h3>
                        <ul>
                            <li><a href="https://www.skholar.com/upsc-civil-services/">UPSC</a></li>
                            <li><a href="https://www.skholar.com/uppsc/">UP PSC</a></li>
                            <li><a href="https://www.skholar.com/mpsc/">MPSC</a></li>
                            <li><a href="https://www.skholar.com/tnpsc/">TNPSC</a></li>
                        </ul>
                    </div>
                     <div class="column play_btn">
                        <h3>Download the App</h3>
                        <a href="https://play.google.com/store/apps/details?id=in.oliveboard.skholar" target="_blank">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/sg2.oliveboard.in/static/img/play.png" alt="Play Button" style="width: 185px" />
                        </a>
                    </div>
                </div>
                <p class="footerlinks"><a href="/careers.php">Careers</a>&nbsp;|&nbsp;<a href="/privacy.php">Privacy</a>&nbsp;|&nbsp;<a href="/terms.php">Terms</a></p>
            </div>
        </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="launchpopup" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="image is-4by3">
                    <a href="https://www.skholar.com/pricing/upsc.php">
                        <img src="../assets/common/img/img-apnastudy.jpeg" alt="">
                    </a>
                </p>
            </div>
            <button class="modal-close is-large launchpopup-close" aria-label="close"></button>
        </div>
        <script src="https://s3-ap-southeast-1.amazonaws.com/sg2.oliveboard.in/static/js/jquery.js"></script>
        <script src="../assets/common/js/jquery.nicescroll.min.js"></script>
        <script src="../assets/common/js/jquery-ui.min.js"></script>
        <script>
            $(".mobilemenu-icon, .btn-mainmenu-mobile span").click(function() {
                $("#mainmenu-box").toggle("slide");
                $(".sidebar-open-bg").toggle("slide");
            });
            $(".sidebar-open-bg").click(function() {
                $("#mainmenu-box").toggle("slide");
                $(".sidebar-open-bg").toggle("slide");
            });
            if ((/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                $(".navbar-item1").click(function() {
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                    $(".sidebar-open-bg").toggleClass("sidebar-active");
                });
                $(".sidebar-open-bg").click(function() {
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                    $(".sidebar-open-bg").toggleClass("sidebar-active");
                });

            }
            $(".btn-submenu-mobile").click(function() {
                $("#menu-mobile").addClass("is-active");
            });

            $(".submenumodal-close, .modal-background").click(function() {
                $("#menu-mobile").removeClass("is-active");
            });
            //simplebar
            if (!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                $(".submenu-list").niceScroll({
                    cursorcolor: "#b4b4b4",
                    cursorborder: "none",
                    cursorwidth: "6px"
                });
                $("#mainmenu-box").niceScroll({
                    cursorcolor: "#b4b4b4",
                    cursorborder: "none",
                    cursorwidth: "6px"
                });
            }
            /* exams dropdown */
            $(".btn-select-exam").on("click", function() {
                if ($(this).hasClass('in')) {
                    $(this).removeClass('in');
                    $('.exams-dropdown-group').hide();
                } else {
                    $(this).addClass('in');
                    $('.exams-dropdown-group').show();
                }
            });
            $(".exams-dropdown-group").on("click", function() {
                $(".btn-select-exam").removeClass('in');
                $('.exams-dropdown-group').hide();

            });
            $(document).on("click", function(e) {
                if ($(e.target).closest('.btn-select-exam').length === 0) {
                    $(".btn-select-exam").removeClass('in');
                    $('.exams-dropdown-group').hide();
                }
            });
        </script>
        <script>
            $('.modal-background, .launchpopup-close').on('click', function() {
                $('#launchpopup').removeClass('is-active');
            });

            /* admodal */

            function setCookie(cname, cvalue, exhours) {
                var d = new Date();
                d.setTime(d.getTime() + (exhours * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/;domain=.skholar.com";
            }
        </script>
    </body>
</html>
